<%layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-4 offset-4 mt-3 fgconatiner">
        <h1 style="font-size: 2rem;">Forgort password</h1>
        <form class="needs-validation check-username" novalidate>

            <div class="mb-3 ">
            <label for="username" class="form-label">Email:</label>
            <input type="text" name="email" id="email"
                class="form-control" required>
                <div class="valid-feedback">
                    good work
                </div>
                <div class="invalid-feedback">
                    Please provide username
                 </div>
        </div>

         <button type="button" class="btn btn-success form-control mb-3 resetpassword">forgort password</button>
    </form>
     <form method="post" action="/listing/user/reset-password/<%=token%>" class="needs-validation change-password" style="display: none;" novalidate>

            <div class="mb-3 ">
            <label for="username" class="form-label">New Password:</label>
            <input type="text" name="password" id="password"
                class="form-control" required>
                <div class="valid-feedback">
                    good work
                </div>
                <div class="invalid-feedback">
                    Please provide password
                 </div>
        </div>

         <div class="mb-3 ">
            <label for="username" class="form-label">Confirm Password:</label>
            <input type="text" name="cnfpassword" id="cnfpassword"
                class="form-control" required>
                <div class="valid-feedback">
                    good work
                </div>
                <div class="invalid-feedback">
                    Please confirm your new password
                 </div>
        </div>

         <button class="btn btn-success form-control mb-3">change password</button>

    </form>
    </div>

    </div>

    <script>
 const conatiner = document.querySelector('.fgconatiner');
const form1 = document.querySelector('.check-username');
const fomr2 = document.querySelector('.change-password');
document.addEventListener('DOMContentLoaded', () => {

    if (window.innerWidth <= 990) {
        conatiner.classList.remove('offset-4', 'col-4');
        conatiner.classList.add('col-12');
    }

    const btn = document.querySelector('.resetpassword');
    btn.addEventListener('click', (e) => {
        e.preventDefault();
        e.stopPropagation();


        const emailinput = document.getElementById('email').value;


        fetch(`/listing/user/forgot-password?email=${emailinput}`).then(response => response.json()).then(data => {
            if (data.status === 'success') {
                alert(data.message);
            } else {
                window.location.href = '/listing/user/singup';
                alert(data.message);
            }
        }).catch(err => {
            console.log('Error:', err);
            alert("Something went wrong");
        });

    });


    if ('<%=isuser%>' == 'true') {
        console.log("enter");
        form1.style.display = "none";
        fomr2.style.display = "block";
    } else {
        form1.style.display = "block";
        fomr2.style.display = "none";
    }
})
    </script>